body{
	font-family: 'Poiret One', cursive;
}
.navbar-brand{
	font-family: 'Pacifico', cursive;
}
.navbar-brand span{
	font-family: 'Poiret One', cursive;
}
#weather{
  display:none;
	width:100vw;
}
#cities{
	/*display:none;*/
}
.condition:hover{
  opacity:0.5;
  transition: 1s ease;
}
#weather span{
	color:#fff;
	font-family: 'Poiret One', cursive;
  font-family: 'Bitter', serif;
  font-size: 1.5em;
}
.condition{
  padding-top:5em;
  padding-bottom:5em;
  padding-left:1em;
  cursor: pointer;
}
footer{
	position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
	background-color: #000;
	padding:1em 0;
}
footer p{
	font-family: 'Poiret One', cursive;
	color:#fff;
}
footer span{
	font-family: 'Pacifico', cursive;
	color:#fff;
}
footer i {
	color:#fff;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {    
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}